
.nav__link{
  font-size: 20px; 
  position:relative;
  transition: all 0.2s;
  color: #d7705f;
  font-weight: bold;
  font-weight:'bold';
  text-decoration:none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iconmenu{
  font-size: 30px;
 } 
 .listemicon{
 font-size: 30px;
 }
 .container{
  background:#d53b47;
  height: 55px;
}
.button{
  
   
  border: #F5d994;
}
.button:hover {
  
  color: #fff;
  
}
.a{
  color: #fff;
}
